/* selector universal */
* {
    font-family: $mainFont;
    box-sizing: border-box;
}

// para generar colores de los iconos de las acciones 
$iconColor: (
    'Like':$colorLike,
    'Share':$colorShare,
    'Edit':$colorEdit,
    'Delete':$colorDelete,
    'View':$colorView,
    'Comment':$colorComment,
);

@each $icon,
$color in $iconColor {
    .color#{$icon} {
        color: $color;
        margin-left: 10px;
    }

    .color#{$icon}:hover {
        transform: scale($scale);
        transition: all 1s;
    }
}


/* formato imágenes acciones */
.smallimagebox {
    @include imagenes (40px, 40px, 50%, 5px, 5px, cover, center);
}


/* formato login Facebook y Google */
.imageico {
    @include imagenes (150px, 150px, 0%, 10px, 10px, contain, center);
}

/* efecto en las acciones de las publicaciones */
svg:hover {
    color: $bkColor1;
}

/* formato botones en Publicar y Registrar usuarios */
.button {
    background-color: $bkColor2;
    color: $bkColor0;
    border-radius: 8px;
    margin: 8% 2% 8%;
    padding: 3%;
    font-size: $fontSizeSM;
    font-family: $mainFont;
}


/* Formato títulos */
h1 {
    @include headers($bkColor1, $fontSizeXXL, center, $fontSizeXXL, bold);
}

h2 {
    @include headers($bkColor2, $fontSizeXXL, center, $fontSizeXL, normal);
    @include akeyframe(gradienDiv, 5s, 2, 1s, linear);
}

h3 {
    @include headers($bkColor2, $fontSizeXL, center, $fontSizeL, normal);
    @include akeyframe(textOpacity, 2s, 1, 1s, linear);
}

h4 {
    @include headers($bkColor2, $fontSizeL, center, $fontSizeM, normal);
}

/* configuración de tema de fondo */
body {
    background-image: $bkgBody;
    background-repeat: repeat;
    background-attachment: scroll;
    margin: 10px 0;
}

/* formato a los likes de las publicaciones */
.textLike {
    @include textos (0px, $fontSizeM, bold);
}

/* márgenes de los trextos */
p {
    @include textos (10px, $fontSizeM, normal);
}

/* formato fuente hipervínculos */
a {
    @include textos (0px, $fontSizeSM, normal);
}

/* formato de las imágenes en las publicaciones  */
.imagenReceta {
    @include imagenes ($maxwidth, 270px, 5%, 10px, 10px, cover, center);
}

/* formato imágen de perfil rediondeado */
.circle {
    background-color: $bkColor1;
    border-radius: 50%;
    width: 20%;
    border-width: 10px;
}


/* formato para que tabla pueda hacer scroll en responsive */
.scrollbar {
    position: relative;
    overflow: auto;
}

.wrapper-scroll-y {
    display: block;
}

/* Formato de controles de carousel para que contraste con el fondo*/

.carousel-control-icon {
    filter: invert(1);
}

/* Contenedor de publicaciones flex*/
.contenedor {
    height: auto;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    border: solid 1px $bkColor2;
    border-radius: 10px;
    // Gradient 
    @include gradient-y($bkColor4, $bkColor2);
    display: flex;
    flex-direction: column;
}

//translate recetas 
.contenedor:hover {
    @include translate-y($tx, $ty);
}


// gradiente para recetas en boostrap 
.gradiente {
    @include gradient-y($bkColor4, $bkColor2);
}

//translate en boostrap 
.gradiente:hover {
    @include translate-y($tx, $ty);
}

// rota el logo superior

.rotate:hover {
    transform: rotateZ($deg);
    transition: all 1s;
}

/* Contenedor de acciones flex div anidado dentro de contenedor de publicación */
.accion {
    display: flex;
    flex-direction: row;
}