//nesting

/* formato accesos footer */

ul {
    li {
        a {
            font-size: $fontSizeXL;
            color: $bkColor4;
            text-decoration: none;
            font-family: $mainFont;
            font-weight: 400;
            left: 150px;

            &:hover {
                @include nResalta($fontSizeXXL, $bkColor4, $bkColor0);
            }
        }
    }
}


/* diferentes footers para mobile y desktop */
/* Footer Desktop */


/* Footer Mobile  ToDO ver tema de como hacerlo sticky*/

// Extend 

.footTwo {
    width: $maxwidth;
    text-align: center;
    background-color: $bkColor1;
}

.footOne {
    @extend .footTwo;
    background-color: $bkColor0;
    padding: 10px 10px;
    height: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* da formatro a imágenes ejemplo redes sociales*/
.miniatura {
    width: $redesW;
    height: $redesH;
}

//skew
.miniatura:hover {
    transform: skew($skew);
    transition: all 1s;
}