/*Definimos que nuestro contenedor se muestre como GRID */

/*Solo se utiliza en el Visitarperfil hecho con grid */

.grid {
    width: 99%;
    display: grid;
}

#contenedor-grid {
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    @include mixGrid (1,1fr);
}


/* 1er breakpoint */
@media (width > 768px) {
    #contenedor-grid {
        grid-template-columns: repeat(2, 1fr);
        @include mixGrid (2,1fr);
    }
}

/* 2do breakpoint */
@media (width > 991px) {
    #contenedor-grid {
        grid-template-columns: repeat(4, 1fr);
        @include mixGrid (4,1fr);
    }
}


/* definicion de grid áreas */

@for $i from 1 through 8 {
.receta#{$i} {
    grid-area: receta#{$i};
    }
}

