/*Definimos que nuestro contenedor se muestre como GRID */

/*Solo se utiliza en el Visitarperfil hecho con grid */

.grid {
    width: 99%;
    display: grid;
}

#contenedor-grid {
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    grid-template-areas:
        "receta1"
        "receta2"
        "receta3"
        "receta4"
        "receta5"
        "receta6"
        "receta7"
        "receta8";
}

/* 1er breakpoint */
@media (width > 768px) {
    #contenedor-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "receta1 receta2"
            "receta3 receta4"
            "receta5 receta6"
            "receta7 receta8";
    }
}

/* 2do breakpoint */
@media (width > 991px) {
    #contenedor-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "receta1 receta2 receta3 receta4"
            "receta5 receta6 receta7 receta8";
    }
}

@media (width > 991px) {
    @include mixMedia (4,2,1fr,"");
 }

/* definicion de áreas */

@for $i from 1 through 8 {
.receta#{$i} {
    grid-area: receta#{$i};
}
}

