//header
@mixin headers ($bkColor,$lHeight,$tAlign){
    background-color: $bkColor;
    line-height: $lHeight;
    text-align: $tAlign;
}

//textos
@mixin textos ($mTop,$fSize,$fweight){
    margin-top: $mTop;
    font-size: $fSize;
    font-weight: $fweight;   
}

//Imagenes
@mixin imagenes ($width,$height,$bRadius,$margin,$padding,$oFit,$tAlign){
    width: $width;
    height: $height;
    border-radius: $bRadius;
    margin: $margin;
    padding: $padding;
    object-fit: $oFit;
    align-items: $tAlign; 
}

//breakpoints
@mixin mixGrid ($g,$fr){
    grid-template-columns: repeat($g,$fr);
    @if $g == 1 {
        grid-template-areas: $grid1;
      } @if $g == 2 {
        grid-template-areas: $grid2;
      }  @if $g == 4 {
        grid-template-areas: $grid4;
      } 
    }







