// imports
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// variables globales
$maxwidth: 100%;

//fonts
$mainFont:"Open Sans", sans-serif;
$fontSizeSM: 1em;
$fontSizeM: 1.2em;
$fontSizeL: 1.5em;
$fontSizeXL: 2em;
$fontSizeXXL: 2.2em;
$colorLink:lightblue;

// colores generales
$bkColor0:#1d1d1f;
$bkColor1:#b9b9b9;
$bkColor2:#dfdbdb;
$bkColor3:#e4e0e0;
$bkColor4:white;

// colores de las acciones
$colorLike:red;
$colorShare:green;
$colorEdit:black;
$colorDelete:black;
$colorView:black;
$colorComment:black;

// background

$bkgBody:url(../img/backgrounds/restaurant_icons.png);


